* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #eff1f4;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #6e8295;
    border-radius: 5px;
  }
}